body {
    background-color: #ecf0f1;
}

.btn {
    background-color: #0984e3;
    border-width: 0;
    border-radius: 20px;
    padding: 7px 25px;
}

.title-text {
    text-align: center;
    margin: 2rem 0;
}

.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-control:focus {
    box-shadow: none;
}

label {
    text-transform: capitalize;
}

.list-group-item {
    margin-bottom: 1rem;
}

.btn-container {
    text-align: center;
    margin: auto;
}

.submit-btn {
    text-align: center;
}

.submit-btn > a {
    text-decoration: none;
    color: #fff;
}

.select-option {
    border: 1px solid #6c757d;
}

.add-btn {
    text-align: center;
}

.bg-light {
    background-color: #0062cc !important;
    color: white;
}


.navbar-light .navbar-brand {
    color: white;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.home-image {
    flex: 1;
}

.home-text {
    flex: 1;
}

.nav-links {
    color: white;
    text-decoration: none;
    transition: 0.2s ease;
}

.nav-item{
    padding: 5px;
    transition: 0.2s ease-in;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.nav-item:hover > .nav-links{
    color: #0062cc;
    text-decoration: none;
    cursor: pointer;
}

.nav-item:hover {
    background-color: white;
    border-radius: 5px;
}

.navbar {
    padding: 10px;
}

.action-btns{
    list-style-type: none;
    display: inline;
}

input[type=checkbox]{
    margin: 5px;
}

.action-btns > li {
    display: inline;
    padding: 5px 6px;
    margin: 3px;
}


.remove-btn{
    background: red;
    border-radius: 5px;
    transition: 0.3s ease;
}

.remove-btn > a {
    color: white;
    text-decoration: none;
}

.remove-btn:hover{
    box-shadow: 0px 2px 9px red;
}

.show-btn{
    background: #0062cc;
    border-radius: 5px;
    transition: 0.3s ease;
}

.show-btn > a {
    color: white;
    text-decoration: none;
}

.show-btn:hover{
    box-shadow: 0px 2px 9px #0062cc;
}

.mr-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

/* .container {
    height: 100vh;
} */

.login-screen, .register-screen {
    height: 100vh;
    margin: auto;
}

.login-title {
    text-align: center;
}

.login-form {
    padding: 20px;
}

/* Table styles */
.table {
    background-color: white;
    border-radius: 5px;
}

thead, td {
    text-transform: capitalize !important;
    text-align: center;
}

/* Table style ends */

.login-row {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #b2bec3;
    box-shadow: 0px 2px 9px;
    border-radius: 10px;
}

.progress {
    background-color: #fff;
    height: 1.5rem;
    border-radius: 1.25rem;
}

.progress-container {
    margin: 2rem 0;
}